In [12]:
from conn import create_connection, close_connection

In [ ]:
val = 2

sql = f"""select od.order_id, o.order_date, od.amount, od.quantity, cat.category_name, sub.subcategory_name
from orderdetails as od
	JOIN orders as o
    ON od.order_id = o.order_id
	JOIN subcategories as sub
    ON  od.subcategory_id = sub.subcategory_id
	JOIN categories as cat
    ON sub.category_id = cat.category_id
WHERE o.customer_id = {val};
"""

In [14]:
conn = create_connection()

mycursor = conn.cursor()

# mycursor.execute(sql, val)
mycursor.execute(sql)
result = mycursor.fetchall()
print(result)

close_connection(conn)

---------------------
Connection successful
---------------------
[(475, datetime.date(2019, 3, 21), Decimal('34.00'), 2, 'Clothing', 'Stole'), (412, datetime.date(2019, 2, 13), Decimal('21.00'), 2, 'Clothing', 'Saree'), (2, datetime.date(2018, 4, 1), Decimal('119.00'), 8, 'Clothing', 'Saree'), (2, datetime.date(2018, 4, 1), Decimal('561.00'), 3, 'Clothing', 'Saree'), (2, datetime.date(2018, 4, 1), Decimal('2617.00'), 4, 'Electronics', 'Phones'), (2, datetime.date(2018, 4, 1), Decimal('424.00'), 5, 'Electronics', 'Phones'), (2, datetime.date(2018, 4, 1), Decimal('168.00'), 2, 'Electronics', 'Phones')]
---------------------
Connection closed
---------------------

In [15]:
for i in result:
    print(i)

(475, datetime.date(2019, 3, 21), Decimal('34.00'), 2, 'Clothing', 'Stole')
(412, datetime.date(2019, 2, 13), Decimal('21.00'), 2, 'Clothing', 'Saree')
(2, datetime.date(2018, 4, 1), Decimal('119.00'), 8, 'Clothing', 'Saree')
(2, datetime.date(2018, 4, 1), Decimal('561.00'), 3, 'Clothing', 'Saree')
(2, datetime.date(2018, 4, 1), Decimal('2617.00'), 4, 'Electronics', 'Phones')
(2, datetime.date(2018, 4, 1), Decimal('424.00'), 5, 'Electronics', 'Phones')
(2, datetime.date(2018, 4, 1), Decimal('168.00'), 2, 'Electronics', 'Phones')